page-home {
    h2.home_name {
        color: black;
        font-size: larger;
        font-weight: bold;
    }
    p.home_date {
        color: black;
        font-size: smaller;
        font-weight: bold;
    }
}
